 <!DOCTYPE html>
<html>
<body style="background-color:black;">

<h1 style="color:red;font-size:50px;text-align:center;font-family:'Impact'">Hangman game</h1>
<p style="color:darkorange;font-size:30px;font-family:'Impact'">What is Hangman??</p>
<p style="color:white;font-size:20px;font-family:'Arial'">The word to guess is represented by a row of dashes, representing each letter . # represents space between words.If the player suggests a letter which occurs in the word, the program writes it in all its correct positions. If the suggested letter does not occur in the word, the program draws one element of a hanged man stick figure as a tally mark. The player has a maximum of 6 wrong guesses before the man is hanged and the game ends.If the player guesses all the letters of the word before 6 wrong guesses ,he/she wins.The secret word is revealed once the game ends.</p>
<p style="color:darkorange;font-size:30px;font-family:'Impact'">About this Game:</p>
<p style="color:white;font-size:20px;font-family:'Arial'">In this game you have to guess the popular Hollywood movies name!!</p>
<p style="color:white;font-size:30px;text-align:center;font-family:'Impact'"><b>Lets go and have some fun!!</b></p>
<div style="text-align: center">
<a href="/game" align="middle" style="color:#1348a1;font-size:20px;font-family:'Impact';"><b>Move to Game</b></a>
</div>
</body>
</html> 